.reservations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.create-button-container {
    align-self: center;
    padding: 10px;
}
.create-button-container > button {
    margin: auto
}

.create-button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 800ms;
}

.create-button:hover{
    cursor: pointer;
    background-color: grey;
}